 /* 导航条初始化 Navigation bar initialization */
   *{
        /* 内外边距为0 The inner and outer margins are 0 */
        margin: 0 ;
        padding: 0;
        /* 去除无必要样式 Remove unnecessary styles */
        list-style: none;
        text-decoration: none ;
    }
   /* 渐变导航条 Gradient navigation bar */
    .导航{
        height: 40px;
        background: linear-gradient(rgb(0, 191, 255),rgb(0, 81, 255));
    }
    .DHL li{
        /* 左浮动 Left float */
        float: left;
        height: 40px;
        width: 100px;
        /* 使文本水平垂直居中 Center the text horizontally and vertically */
        line-height: 40px;
        text-align: center;
    }
    .DHL a{
       /* 超链接变色 Hyperlink color change */
        color: #c6e293;
        /* 变盒 become to box */
        display: block;
    }
    .DHL{
        /* 列表宽 居中 List width centered */
        width: 800px;
        margin: auto;
    }
    .DHL a:hover{
        /* 悬停变色 Hover color change */
        background: rgb(122, 183, 226);
    }